.any {
    -fx-font-family: Verdana;
    -fx-font-size: 14;
}

.outer-container {
    -fx-fill: transparent;
    -fx-padding: 10;
}

.inner-container {
    -fx-background-color: #6495ed;
    -fx-effect: DropShadow(gaussian, #000000, 5, 0, 1, 1);
}
