.any {
    -fx-font-family: fantasy;
    -fx-font-size: 16;
    -fx-font-weight: lighter;
}

.outer-container {
    -fx-fill: transparent;
    -fx-padding: 10;
}

.inner-container {
    -fx-effect: DropShadow(gaussian, #000000, 5, 0, 1, 1);
}
